body {
  background-color: #873030;
}
#container {
  width: 960px;
  margin: 20px auto;
  background-color: white;
}

#header {
  padding: 10px;
}

#content {
  float: right;
  width: 780px;
  margin: 10px;
}

#sidebar {
  float: left;
  width: 150px;
  margin: 10px 0px 10px 10px;
}

#footer {
  clear: both;
  padding: 0px 10px 10px 10px;
  text-align: center;
}
