---
title: About Will
---
<html>
<head>
  {% include html_header.html %}
</head>
<body>
  <div id="container">
    <div id="header">
      {% include header.html %}
    </div>
    <div id="content">
      <h1>Who I am</h1>
      <p>My name is Will Van de Walle. I am an aspiring professional artist and lover of creativity. I like to build, draw, write, and challenge my brain. I am here to write about that and that process for the good of any other aspiring artists.</p>
      <h1>What I like</h1>
      <p>I like to hang out with my friends, and draw, write, all things that I've mentioned before, of course.</p>
      <h1>What I hate</h1>
      <p>I hate: lettuce, being bored, not being able to do ANYTHING but <em>sit there,</em>  and overall not being creative or productive.</p>
    </div>
    <div id="sidebar">
      {% include sidebar.html %}
    </div>
    <div id="footer">
      {% include footer.html %}
    </div>
  </div>
</body>
</html>
