---
title: Will Van de Walle's Blog
---
<html>
<head>
  {% include html_header.html %}
</head>
<body>
  <div id="container">
    <div id="header">
      {% include header.html %}
    </div>
    <div id="content">
      {% for post in site.posts %}
      <div class="postSnippet">
        <a href="{{ post.url }}" class="post-link">{{post.title}}</a>
        {{post.excerpt}}
      </div>
      {% endfor %}
    </div>
    <div id="sidebar">
      {% include sidebar.html %}
    </div>
    <div id="footer">
      {% include footer.html %}
    </div>
  </div>
</body>
</html>
